snippet tuiv
@import '@thumbtack/tp-ui-core-variable/_index';
endsnippet

snippet tuim
@import '@thumbtack/thumbprint-scss/mixins';
endsnippet

snippet tuif
@import '@thumbtack/tp-ui-core-function/_index';
endsnippet

snippet tuit
@import '@thumbtack/thumbprint-tokens/dist/scss/_index';
endsnippet
